.audioPlayer {
  position: relative;
  top: 17px;
  margin-left: 5%;
  margin-right: 5%;
}

.audioButtons {
  margin-left: 2%;
  margin-right: 2%;
}

.table-bordered {
  background-color: white;
}

#formats {
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
}

html *
{
  font-family: 'Roboto', sans-serif;
}

#howitworks {
  position: relative;
  padding-top: 5%;
  text-align: center;
  border-style: solid;
  border-width: 1px 0px 0px 0px;

}

.rowPadding {
  position: relative;
  padding-top: 2%;

}

th {
    background-color: #637ba0;
    color: white;
}

.transcriptContainer {
  position: relative;
  padding-top: 5%;
}

.downloadButton {
  background-color: #ea9372;
  color: white;
}

.addSpeakerButton {
  background-color: #637ba0;
  color: white;
}

.downloadContainer {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}


.transcriptionMethodsGroup {
  position: relative;
  padding-top: 4%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.transcriptionMethods {
  position: relative;
  padding-top: 4%;
  padding-bottom: 2%;
  border-style: solid;
  border-width: 1px;
}
.transcriptionMethodsBottom {
  position: relative;
  padding-top: 4%;
  padding-bottom: 2%;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.jumboForm {
  color: #525456;
  padding-top: 10%;
  background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&auto=format&fit=crop&w=655&q=80");
  background-size: 100% 100%;
}

.main  {
  text-align: center;
  position: relative;
  padding-bottom: 40%;
  background-image: url("https://i.etsystatic.com/8245414/r/il/9b579a/1054777221/il_fullxfull.1054777221_nym4.jpg");
  background-size: 70%;
}

.jumbotron-fluid {
  background-color: white;
  position: relative;
  padding-top: 6%;
}
