.audioPlayer {
  position: relative;
  top: 17px;
  margin-left: 5%;
  margin-right: 5%;
}

.audioButtons {
  margin-left: 2%;
  margin-right: 2%;
}

.table-bordered {
  background-color: white;
}

#formats {
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
}

html *
{
  font-family: 'Roboto', sans-serif;
}

#howitworks {
  position: relative;
  padding-top: 5%;
  text-align: center;

}

.rowPadding {
  position: relative;
  padding-top: 2%;

}
.main  {
  position: relative;
  padding-bottom: 30%;
  background-image: url("https://i.etsystatic.com/8245414/r/il/9b579a/1054777221/il_fullxfull.1054777221_nym4.jpg");
  background-size: cover;
}

.jumbotron-fluid {
  background-color: white;
}
