{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron jumboForm">
        <div class="container">
          <h1 class="display-3">AWS Upload</h1>
        </div>
        <h2> Upload file to AWS and Transcribe </h2>

        {% from 'includes/_formhelpers.html' import render_field %}
</div>

<div class="container form">
  <form method=post enctype=multipart/form-data>
    <div class="row">
      <div class="col">
        <div class="form-group">
          {{render_field(form.userName, class_="form-control")}}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{render_field(form.fileName, class_="form-control")}}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
        {{render_field(form.numberOfSpeakersField, class_="form-control")}}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
        {{render_field(form.numberOfChannelsField, class_="form-control")}}
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="form-group">
          {{render_field(form.fileDescription, class_="form-control")}}
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="container">
          <h2 id="assignSpeaker"> Assign Speakers </h2>
          <table id="myTable" class=" table order-list">
          <thead>
              <tr>
                  <td>Speaker</td>
                  <td>Name</td>
              </tr>
          </thead>
          <tbody>
              <tr>
              </tr>
          </tbody>
          <tfoot class = "tableFoot">
              <tr>
                  <td colspan="5" style="text-align: left;">
                      <input type="button" class="btn btn-lg btn-block downloadButton" id="addrow" value="Add Speaker" />
                  </td>
              </tr>

          </tfoot>
          </table>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <p><input type=file name=file></p>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <p><input type="submit" class="btn downloadButton" id = "submitButton" value="Submit"></p>
      </div>



  </div>
  </form>
</div>

</form>

{% endblock %}
