{% extends 'layout.html' %}


{% block body %}
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">AWS Upload</h1>
        </div>
        <h2> Upload file to AWS and Transcribe </h2>

        {% from 'includes/_formhelpers.html' import render_field %}
</div>
        <form method=post enctype=multipart/form-data>
          <div class="form-group">
            {{render_field(form.userName, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.fileName, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.fileDescription, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.numberOfSpeakersField, class_="form-control")}}
          </div>
          <div class="form-check">
            {{render_field(form.multipleChannelsRadioButton)}}
          </div>
          <div class="form-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Upload Audio File</label>
            </div>
          </div>
          <p></p>
          <p><input type="submit" class="btn btn-primary" value="Submit"></p>
        </form>

        <!--
        <div class= "results">
          <h1> Results: </h1>
          <div class="jumbotron">

          </div>
        </div>
        -->
{% endblock %}
