{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">SE Senior Design Project, Team 9</h1>
          <p> Sponsored by NTT Data</p>
          <p> Experiment with multiple forms of COTS tools using speaker recognition. Upload audio files or record audio files to recieve a transcript </p>
          <p><a class="btn btn-primary btn-lg" href="/aws" role="button"> AWS </a></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button"> Azure </a></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button"> Google </a></p>
        </div>
</div>
{% endblock %}
